
/* Wallpaper styles */
.growls-wp-container, .growls-wp-container div {
    position: absolute;
    width: 100%;
    height: 100%;
    
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}

.growls-wp-container {
    z-index: -1;
}

.growls-wp-layer-csseffect[data-wp-fx-enable] {
    -webkit-filter: blur(5px);
}

.growls-wp-layer-image {
    background-repeat: no-repeat;
    background-position: left top;
}

.growls-wp-layer-overlay[data-wp-fx-enable] {
    background-image: -webkit-linear-gradient(top, rgba(252, 252, 252, 0.87), rgba(252, 252, 252, 0.9) 80%);
}

/* style for config window */
#growls-wp-c .input-append input[type='text'] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#growls-wp-c input[readonly] {
    cursor: default!important;
}

#growls-wp-c-posselector td {
    width: 20px; height: 20px;
    text-align: center;
    vertical-align: middle;
}

.growls-wp-c-left { width: 70%; float: left; }
.growls-wp-c-right { width: 30%; float: right; }